<article class="p-6 dark:text-white lg:flex">
    <a href="{{ .Permalink }}" aria-label="Read">
        {{ if .Params.image }}
        <img class="rounded mx-auto w-24 h-32 lg:mx-0 mb-5 object-cover lg:mb-0" src="{{ .Params.image | relURL }}" alt="thumbnail" />
        {{ else }}
        <img class="rounded mx-auto w-auto h-32 lg:mx-0 mb-5 lg:mb-0" src="{{ "/img/novel.png" | relURL }}" alt="thumbnail" />
        {{ end }}
    </a>
    <div class="lg:ml-8 flex-1"> <a href="{{ .Permalink }}">
            <h1 class="text-xl mb-2 hover:text-blue-500 transition-colors">{{ .Title }}</h1>
        </a>

        <p class="mb-1 text-sm opacity-40">
            {{ partial "wordcount.html" . }} ・ {{ .Date.Format "2006/01/02" }}
        </p>

        {{ with .Params.tags }}
            <div id="tags" class="flex flex-wrap"> {{ range . }}
                <span class="inline-flex mr-3 my-1 text-sm text-blue-500 hover:underline">
                    <a href="{{ "tags" | absURL}}/{{ . | urlize }}">#{{ . }}</a>
                </span>
                {{ end }}
            </div>
        {{ end }}

        {{ if .Description }}
        <p class="opacity-70 text-sm mt-2 line-clamp-3 leading-relaxed">
            {{ .Description | plainify }}
        </p>
        {{ else }}
        <p class="opacity-50 text-xs italic mt-2">あらすじ（キャプション）はありません</p>
        {{ end }}
    </div>
</article>